<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
            </ul>
            <div class="btn-group">
                <a href="#" class="dropdown-toggle text-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="usericon"><i class="bi bi-person-circle"></i></span>
                    <span class="textnone">L.N July Gallo</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Cambiar Password</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Administración</button></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i>Cerrar Sesión</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>