<div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
        <a [routerLink]="'/calendario'" class="list-group-item list-group-item-action text-primary"><i class="bi bi-calendar3"></i> <span class="item-text">Calendar</span></a>
        <a [routerLink]="'/audiencia'" class="list-group-item list-group-item-action text-primary"><i class="bi bi-people"></i> <span class="item-text">Audience</span></a>
        <a href="#" class="list-group-item list-group-item-action text-primary"><i class="bi bi-book"></i> <span class="item-text">Books World</span></a>
        <a href="#" class="list-group-item list-group-item-action text-primary"><i class="bi bi-person-check"></i> <span class="item-text">Candidates</span></a>
        <a href="#" class="list-group-item list-group-item-action text-primary"><i class="bi bi-envelope"></i> <span class="item-text">Email</span></a>
        <a href="#" class="list-group-item list-group-item-action text-primary"><i class="bi bi-graph-up"></i> <span class="item-text">Analytics</span></a>
        <a href="#" class="list-group-item list-group-item-action text-primary"><i class="bi bi-pencil-square"></i> <span class="item-text">Applications</span></a>
    </div>
</div>