<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <!--Campo de producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="producto">Producto</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="producto" class="form-control" placeholder="Nombre del Producto" id="producto">
                    <span class="form-text text-danger" *ngIf="campoEsValido('producto')">Debe ser de 3 letras</span>
                </div>
            </div>
            <!--Campo de precio-->
            <div class=" mb-3 row ">
                <label class="col-sm-3 col-form-label " for="precio ">Precio</label>
                <div class="col-sm-9 ">
                    <input type="number " formControlName="precio" class="form-control " placeholder="Precio del Producto " id="precio ">
                    <span class="form-text text-danger" *ngIf="campoEsValido('precio')">El precio debe ser mayor a 0</span>
                </div>
            </div>
            <!--Campo de existencias-->
            <!--Uso de la directiva para la validacion : customMin [minimo]="0 " -->
            <div class="mb-3 row ">
                <label class="col-sm-3 col-form-label " for="existencias">Existencias</label>
                <div class="col-sm-9 ">
                    <input type="number " formControlName="existencias" class="form-control " placeholder="Existencias del Producto " id="existencias ">
                    <span class="form-text text-danger" *ngIf="campoEsValido('existencias')">Las existencias deben de ser mayor a 0</span>
                </div>
            </div>

            <div class="row ">
                <div class="col ">
                    <button class="btn btn-primary float-end" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row ">
    <div class="col ">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

    </div>
</div>